{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
	<title>Certificado Caldera</title>

</head>

<body data-spy="scroll" data-target=".navbar">
    <div class="ts-page-wrapper" id="page-top">

        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <header id="ts-hero" class="ts-full-screen ts-separate-bg-element">
            <!--NAVIGATION ******************************************************************************************-->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element" data-bg-color="#141a3a">
                <div class="container">
                    <a class="navbar-brand" href="#page-top">
                        <img src="assets/img/logo-w.png" alt="">
                    </a>
                    <!--end navbar-brand-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--end navbar-toggler-->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active ts-scroll" href="#page-top">Inicio <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link ts-scroll" href="#how-it-works">Como funciona</a>
                            <a class="nav-item nav-link ts-scroll" href="#servicio">Servicio</a>

                            <a class="nav-item nav-link ts-scroll" href="#about-us">Nosotros</a>
                            <a class="nav-item nav-link ts-scroll" href="#pricing">Precios</a>
                            <a class="nav-item nav-link ts-scroll mr-2" href="#form-contact">Contacto</a>
                            <a class="ts-scroll btn btn-primary btn-sm m-1 px-3 ts-width__auto" href="#form-contact">Realiza tu consulta</a>
                        </div>
                        <!--end navbar-nav-->
                    </div>
                    <!--end collapse-->
                </div>
                <!--end container-->
            </nav>
            <!--end navbar-->

            <!--HERO CONTENT ****************************************************************************************-->
            <div class="container align-self-center align-items-center">
                <div class="row">
                    <div class="col-md-7">
                        <h1 >Certificación de calderas</h1>
                        <div data-animate="ts-fadeInUp" data-delay=".1s">
                            <p class="w-75 text-white mb-5 ts-opacity__50">Realiza tu consulta en el sitio web número uno de certificaciones de calderas</p>
                        </div>
                        <a href="#how-it-works" class="btn btn-primary btn-lg ts-scroll mr-4" >
                            Leer más
                            <i class="fa fa-arrow-right small ml-3 ts-opacity__50"></i>
                        </a>
                        <a href="#form-contact" class="btn-link text-white d-inline-block">
                            <strong>Realizar solicitud</strong>
                        </a>
                    </div>
                    <!--end col-md-7-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
            <!--END HERO CONTENT ************************************************************************************-->

            <!--HERO BACKGROUND *************************************************************************************-->
            <div class="ts-background" data-bg-color="#141a3a" data-bg-parallax="scroll" data-bg-parallax-speed="3" style="background-color: rgb(20, 26, 58);">
                <div class="ts-background-image ts-svg ts-z-index__1 ts-background-position-left d-none d-md-block" data-bg-image="{% static 'assets/svg/shape-mask.svg' %}" data-animate="ts-fadeInLeft"></div>
                <div class="ts-background-image ts-parallax-element" data-bg-image="{% static 'assets/img/bg-man-sitting.jpg' %}" data-animate="ts-zoomOutIn"></div>
            </div>
            <!--END HERO BACKGROUND *********************************************************************************-->

        </header>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <main id="ts-content">

            <!--HOW IT WORKS ****************************************************************************************-->
            
            <section id="how-it-works" class="ts-block ts-xs-text-center pb-5">
                <div class="container">
                    <div class="ts-title">
                        <h2>Como funciona</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" >
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">1</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                                <img src="{% static 'assets/img/icon-bubble.png' %}" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Realiza solicitud</h4>
                                        <p>
                                            Morbi et nisl a sapien malesuada scelerisque. Suspendisse tempor turpis mattis
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" >
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" >2</span>
                                            <div class="ts-circle__md"  data-bg-color="#ebf1fe">
                                                <img src="{% static 'assets/img/icon-knobs.png' %}" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Te contactarán</h4>
                                        <p>
                                            Suspendisse eget semper justo, a laoreet sapien. Ut a est vitae
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp" >
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" >3</span>
                                            <div class="ts-circle__md" data-bg-color="#ebf1fe" >
                                                <img src="{% static 'assets/img/icon-heart.png' %}" alt="">
                                            </div>
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Agendar revisión </h4>
                                        <p>
                                            In non turpis convallis nunc fermentum porttitor sed quis sapien. Etiam et neque
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <section id="servicio" class="ts-block pb-5 mb-4">
                <div class="container">
                    <div class="ts-title">
                        <h2>Puntos a inspeccionar</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row" style="">
                        <div class="col-md-4">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{% static 'assets/img/img-bw-man-phone.jpg' %}" data-bg-image-opacity=".1">
                                <figure>10.05.2018</figure>
                                <h3>Inspección cuerpo de la caldera</h3>
                                <p>Descripción de prueba </p>
                                <a href="#" class="btn btn-primary btn-sm">Contactar</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                        <div class="col-md-4">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{% static 'assets/img/img-bw-man-phone.jpg' %}" data-bg-image-opacity=".1">
                                <figure>10.05.2018</figure>
                                <h3>Prueba aerostática e hidráulica</h3>
                                <p>Descripción de prueba </p>
                                <a href="#" class="btn btn-primary btn-sm">Contactar</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                        <!--end col-md-4-->
                        <div class="col-md-4">
                            <div class="ts-story ts-separate-bg-element" data-animate="ts-fadeInUp" data-delay="0.1s" data-bg-color="rgba(0,0,0,.05)" data-bg-image="{% static 'assets/img/img-bw-man-phone.jpg' %}" data-bg-image-opacity=".1">
                                <figure>23.04.2018</figure>
                                <h3>Prueba acumulación de vapor</h3>
                                <p>Descripción de prueba </p>
                                <a href="#" class="btn btn-primary btn-sm">Contactar</a>
                            </div>
                            <!--end ts-story-->
                        </div>
                        <!--end col-md-4-->

                       
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->

                </div>
                <!--end container-->
            </section>
            
            <!--END HOW IT WORKS ************************************************************************************-->


            <hr>

            <!--PARTNERS ********************************************************************************************-->
            <section id="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="ts-block pr-3">
                                <div class="ts-title">
                                    <h2>Certificador de calderas</h2>
                                </div>
                                <!--end ts-title-->
                                <p>
                                    Vivamus fermentum magna non faucibus dignissim. Sed a venenatis mi, vel tempus neque.
                                    Fusce pharetra, diam in hendrerit facilisis, enim diam cursus augue.
                                </p>
                                <div class="list-group list-group-flush mb-5">
                                    <a href="#collapseOne" class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">Nuestra Misión</a>
                                    <div class="collapse" id="collapseOne">
                                        <p class="pt-3 small">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                    </div>
                                    <a href="#collapseTwo" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseTwo">Calidad de Servicio Garantizado</a>
                                    <div class="collapse" id="collapseTwo">
                                        <p class="pt-3 small">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                    </div>
                                    <a href="#collapseThree" class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseThree">Respaldado por Seremi</a>
                                    <div class="collapse" id="collapseThree">
                                        <p class="pt-3 small">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </p>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary mr-3 my-2">Contactar</a>
                            </div>
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->

                <div class="ts-background d-none d-sm-block" data-bg-color="#fafafa" data-bg-parallax1="scroll" data-bg-parallax-speed="3">
                    <div class="owl-carousel w-50 ts-push-left__100 h-100 ts-parallax-element1" data-owl-loop="1" data-owl-nav-container="#carousel-external-control">
                        <div class="ts-background-image" data-bg-image="{% static 'assets/img/bg-finance-team.jpg' %}"></div>
                        <div class="ts-background-image" data-bg-image="{% static 'assets/img/bg-hand-mobile.jpg' %}"></div>
                    </div>
                    <!--end owl-carousel-->
                </div>
                <!--end ts-background-->

            </section>
            <section id="numbers" class="ts-block ts-background-is-dark ts-separate-bg-element py-5 ts-xs-text-center" data-bg-image="assets/img/bg-mountain.jpg" data-bg-image-opacity=".1" data-bg-color="#0e1e3d" data-bg-parallax="scroll" data-bg-parallax-speed="3">
                <div class="container">
                    <div class="ts-promo-numbers py-5">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="ts-promo-number">
                                    <h2 class="ts-opacity__50">140+</h2>
                                    <h5 class="mb-0">Calderas Certificadas</h5>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->
                            <div class="col-sm-6 col-md-3">
                                <div class="ts-promo-number">
                                    <h2 class="ts-opacity__50">10+</h2>
                                    <h5 class="mb-0">Clientes</h5>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->
                            <div class="col-sm-6 col-md-3">
                                <div class="ts-promo-number">
                                    <h2 class="ts-opacity__50">24+</h2>
                                    <h5 class="mb-0">Años de experiencia</h5>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->
                            <div class="col-sm-6 col-md-3">
                                <div class="ts-promo-number">
                                    <h2 class="ts-opacity__50">Chile</h2>
                                    <h5 class="mb-0">Llegada a Todo Chile</h5>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-3-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end ts-promo-numbers-->
                </div>
                <!--end container-->
            </section>

            <section id="pricing" class="ts-block" data-bg-color="#f7f7f7">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>Precios</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row no-gutters ts-cards-same-height">
                        <!--Price Box-->
                        <div class="col-sm-4 col-lg-4">
                            <div class="card text-center ts-price-box" data-animate="ts-fadeInUp">
                                <div class="card-header p-0">
                                    <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Cotizar</h5>
                                    <div class="ts-title py-5 mb-0">
                                        <h3 class="mb-0 font-weight-normal">Gratis</h3>
                                        <small class="ts-opacity__50">siempre</small >
                                    </div>
                                </div>
                                <!--end card-header-->
                                <div class="card-body p-0">
                                    <ul class="list-unstyled ts-list-divided">
                                        <li>Cotización a través de correo</li>
                                        <li>Lunes a Viernes</li>
                                    </ul>
                                    <!--end list-->
                                </div>
                                <!--end card-body-->
                                <div class="card-footer bg-transparent pt-0 ts-border-none">
                                    <a href="#" class="btn btn-outline-dark ts-btn-border-muted">Contactar</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end price-box col-md-4-->

                        <!--Price Box Promoted-->
                        <div class="col-sm-4 col-lg-4">
                            <div class="card text-center ts-price-box ts-price-box__promoted" data-animate="ts-fadeInUp" data-delay="0.1s">
                                <div class="card-header p-0" data-bg-color="#346de0">
                                    <h5 class="mb-0 py-3 text-white" data-bg-color="#3a79f9">Certificación caldera</h5>
                                    <div class="ts-title text-white py-5 mb-0">
                                        <h3 class="mb-0 font-weight-normal">
                                            <sup>$</sup>3.000.000
                                        </h3>
                                        <small class="ts-opacity__50">Por una caldera</small >
                                    </div>
                                </div>
                                <!--end card-header-->
                                <div class="card-body p-0">
                                    <ul class="list-unstyled ts-list-divided">
                                        <li>Tiempo de Espera de 5 días habíles maxímo</li>
                                        <li>Nuestros Expertos se pondrán en contacto contigo</li>
                                        <li>Soporte anual</li>
                                    </ul>
                                    <!--end list-->
                                </div>
                                <!--end card-body-->
                                <div class="card-footer bg-transparent pt-0 ts-border-none">
                                    <a href="#" class="btn btn-primary">Contactar</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end price-box col-md-4-->

                        <!--Price Box-->
                        <div class="col-sm-4 col-lg-4">
                            <div class="card text-center ts-price-box" data-animate="ts-fadeInUp" data-delay="0.2s">
                                <div class="card-header p-0">
                                    <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Certificación más de una caldera</h5>
                                    <div class="ts-title py-5 mb-0">
                                        <h3 class="mb-0 font-weight-normal">
                                            Dependerá de calderas a certificar
                                        </h3>
                                    </div>
                                </div>
                                <!--end card-header-->
                                <div class="card-body p-0">
                                    <ul class="list-unstyled ts-list-divided">
                                        <li>Precio Por Número de Calderas</li>
                                        <li>Tiempo de Espera de 5 días habíles maxímo</li>
                                        <li>Nuestros Expertos se pondrán en contacto contigo</li>
                                        <li>Soporte anual</li>
                                    </ul>
                                    <!--end list-->
                                </div>
                                <!--end card-body-->
                                <div class="card-footer bg-transparent pt-0 ts-border-none">
                                    <a href="#" class="btn btn-outline-dark ts-btn-border-muted">Contactar</a>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end price-box col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <section id="contact" class="ts-separate-bg-element" data-bg-image="assets/img/bg-hand-mobile.jpg" data-bg-image-opacity=".1" data-bg-color="#12264f">
                <div class="container">
                    <div class="ts-box mb-0 p-5 ts-mt__n-10" data-animate="ts-fadeInUp">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Contáctanos</h3>
                                <address>
                                    <figure>
                                        Las condes, Santiago, Chile
                                    </figure>
                                    <br>
                                    <figure>
                                        <div class="font-weight-bold">Email:</div>
                                        <a href="#">contacto@certificacionescaldera.cl</a>
                                    </figure>
                                    <figure>
                                        <div class="font-weight-bold">Teléfono:</div>
                                        +569 9 9999 999
                                    </figure>

                                </address>
                                <!--end address-->
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-8">
                                <h3>Formulario de contacto</h3>
                                <form id="form-contact" method="post" class="clearfix ts-form ts-form-email ts-inputs__transparent" data-php-path="assets/php/email.php">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="form-contact-name">Nombre compelto *</label>
                                                <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Nombre y apellido" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="form-contact-email">Email *</label>
                                                <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Correo electrónico" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="form-contact-email">Ciudad</label>
                                                <input type="text" class="form-control" id="form-contact-email" name="Ciudad" placeholder="Ciudad" required>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                    </div>
                                    <!--end row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form-contact-message">Ingrese la consulta  *</label>
                                                <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Mensaje" required></textarea>
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-12 -->
                                    </div>
                                    <!--end row -->
                                    <div class="form-group clearfix">
                                        <button type="submit" class="btn btn-primary float-right" id="form-contact-submit">Enviar Consulta</button>
                                    </div>
                                    <!--end form-group -->
                                    <div class="form-contact-status"></div>
                                </form>
                                <!--end form-contact -->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end ts-box-->
                    <div class="text-center text-white py-4">
                        <small>© 2022 Certificaciones de Calderas Chile</small>
                    </div>
                </div>
                <!--end container-->
            </section>
            

        </main>
        <!--end #content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
       

    </div>
    <!--end page-->


	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'assets/js/isInViewport.jquery.js' %}"></script>
	<script src="{% static 'assets/js/jquery.particleground.min.js' %}"></script>
	<script src="{% static 'assets/js/scrolla.jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

	<script src="{% static 'assets/js/custom.hero.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery-validate.bootstrap-tooltip.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="path/to/your/custom.js"></script>
</body>
</html>
